name: Test

on: [push, pull_request]

jobs:
  tests-with-token:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java-version: [8, 11, 16]
        version: ["1.6", ""]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - uses: ./
        with:
          skipCommit: true
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ matrix.version }}
  
  tests-without-token:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java-version: [8, 11]
        version: ["1.6", ""]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - uses: ./
        continue-on-error: ${{ matrix.os == 'macos-latest' }}
        with:
          skipCommit: true
          version: ${{ matrix.version }}
