name: Test

on: [push, pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Test
        run: |
          npm install
          npm test

  e2e-tests-with-token:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'axel-op'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java-version: [8, 11, 17, 21]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20 
      - name: Compile
        run: |
          npm install
          npx tsc
      - name: Create dummy Java files
        run: touch Main.java
      - uses: ./
        with:
          skip-commit: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

  e2e-tests-without-token:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java-version: [8, 11, 17]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20 
      - name: Compile
        run: |
          npm install
          npx tsc
      - name: Create dummy Java files
        run: touch Main.java
      - uses: ./
        continue-on-error: ${{ matrix.os == 'macos-latest' }}
        with:
          skip-commit: true
