name: Validate action typings

on: [push, pull_request]

jobs:
  validate-typings:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: krzema12/github-actions-typing@v2
